@import "../../styles/variables.scss";

.notification {
    position: fixed;
    top: -4rem;
    z-index: 1000;
    justify-content: center;
    padding: 0 1rem;
    width: 100%;
    opacity: 0;
    display: none;
    text-transform: capitalize;

    .wrapper {
        padding: 0.5rem 2rem;
        background-color: $red;
        color: $white;
        font-weight: 400;

        .text {
            margin: 0;
        }
    }

    &.animateShow {
        display: flex;
        animation: show 0.5s ease-in-out forwards;
    }

    @keyframes show {
        0% {
            top: -4rem;
            opacity: 0;
        }

        100% {
            top: 5rem;
            opacity: 1;
        }
    }

    &.animateHide {
        display: flex;
        animation: hide 0.5s ease-in-out forwards;
    }

    @keyframes hide {
        0% {
            top: 5rem;
            opacity: 1;
        }

        99% {
            top: -4rem;
            opacity: 0;
        }

        100% {
            display: none;
        }
    }
}