@import "../../styles/variables.scss";

.article {
    width: 80%;
    display: flex;
    border: 5px solid $red;

    .image {
        width: 25%;
        // min-height: 35vh;
        overflow: hidden;
    }

    .content {
        width: 75%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;

        h3 {
            font-size: 1.25rem;
            font-weight: 600;
            text-transform: uppercase;
            margin: 0;
        }

        >p {
            color: $lightgrey;
        }

        aside {
            p {
                color: $red;
                margin: 0;
                margin-bottom: 0.25rem;

                span {
                    color: $darkgrey;
                }
            }
        }

        .read {
            display: flex;
            justify-content: flex-end;
            margin-top: 1.5rem;
        }
    }

    @media screen and (max-width: 991px) {
        width: 100%;
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;

        .image {
            width: 100%;
            max-height: 60vh;
        }

        .content {
            padding: 2rem 1rem;
            width: 100%;
        }
    }
}