
.section {
    padding: 8rem 0;
    position: relative;

    &.dark {
        background-color: rgba($lightgrey, 0.25);
    }

    .cross {
        width: 2rem;
        position: absolute;
        top: 4rem;
        left: 2rem;
    }


}