.Section {
  padding: 8rem 0;
  position: relative;

  &.colour {
    &-white {
      background-color: $white;
    }

    &-lightgrey {
      background-color: rgba($lightgrey, 0.25);
    }

    &-darkgrey {
      background-color: $darkgrey;

      h1 {
        color: $white;
      }

      p {
        color: $white;
      }
    }
  }

  .cross {
    width: 2rem;
    position: absolute;
    top: 4rem;
    left: 2rem;
  }

  &.centerAlign {
    text-align: center;
  }
}