@import "../variables.scss";

.training {
    .grid {
        display: flex;

        .item {
            width: 50%;
            padding: 0.5rem 2rem;
        }

        .left {
            border-right: 4px solid $red;
            text-align: right;
        }

        .right {

            h5 {
                margin: 0;
                font-size: 1.1rem;
                font-weight: 500;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    display: flex;
                    align-items: center;
                    margin: 0.25rem 0;
                    font-weight: 600;

                    img {
                        width: 1rem;
                        margin-right: 0.5rem;
                    }
                }
            }
        }
    }
}

.photoGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .image {
        max-height: 40vh;

        div {
            position: relative !important;
            width: 100%;
            height: 100%;

            >div {
                display: none !important;
                padding-top: 0 !important;
            }

            img {
                position: relative !important;
                object-fit: cover;
                object-position: center center;
                height: auto !important;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.consulting,
.equipment {
    .grid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 3rem;
    }
}