.CourseDates {
  label {
    font-weight: 600;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    display: block;
  }

  .row {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;

    label {
      margin-bottom: 0;
    }
  }

  .dateRow {
    display: grid;
    gap: 16px;
    grid-template-columns: auto 1fr 1fr auto;
    margin-bottom: 1rem;
    align-items: center;

    .deleteButton {
      cursor: pointer;
    }

    input {
      width: 100%;
      padding: 12px;
    }
  }
}