.grid {
    display: flex;
    .map {
        width: 50%;

        iframe {
            min-height: 70vh;
            height: 100%;
            width: 100%;
            border: none;
        }
    }

    @media screen and (max-width: $breakpoint-sm) {
        flex-wrap: wrap;
        row-gap: 2rem;

        .map {
            width: 100%;
            order: 2;
        }
    }
}