
.grid {
    display: flex;

    .map {
        width: 50%;

        iframe {
            min-height: 70vh;
            height: 100%;
            width: 100%;
            border: none;
        }
    }

    .form {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 4rem 2rem 2rem 4rem;
        box-sizing: border-box;

        .row {
            margin-bottom: 1rem;

            label {
                display: block;
                margin-bottom: 0.5rem;
                font-weight: 600;
                font-size: 0.9rem;
            }

            input,
            textarea {
                width: 60%;
                border: 1.5px solid $lightgrey;
                padding: 0.5rem;
                font-family: $font;
                resize: none;
                transition: 0.3s ease;
                outline: none;

                &:focus {
                    border-color: $red;
                    font-weight: 600;
                }
            }

            textarea {
                height: 6rem;
            }
        }
    }

    @media screen and (max-width: 768px) {
        flex-wrap: wrap;
        row-gap: 2rem;

        .map {
            width: 100%;
            order: 2;
        }

        .form {
            width: 100%;
            align-items: center;
            text-align: center;
            padding: 4rem 0;

            form {
                width: 100%;

                .row {

                    input,
                    textarea {
                        text-align: center;
                        width: 70%;
                    }
                }
            }
        }
    }

    // @media screen and (max-width: 768px) {
    //     .form {
    //         width: 100%;
    //         align-items: center;
    //         text-align: center;

    //         form {
    //             width: 80%;

    //             input,
    //             textarea {
    //                 text-align: center;
    //             }
    //         }
    //     }
    // }
}