
.nav {
    height: 100vh;
    width: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba($white, 0.9);
    transition: 0.3s ease-out;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflow: hidden;

    >i {
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        padding: 1rem;
        font-size: 2rem;
        color: $lightgrey;
        transition: 0.3s ease-out;
        cursor: pointer;

        &:hover {
            color: $red;
        }
    }

    &.open {
        width: 50%;
        border-left: 0.25rem solid $red;
    }

    .menu {
        list-style: none;
        padding-left: 3rem;
        margin: 0;

        li {
            margin-bottom: 0.75rem;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                font-weight: 600;
                font-size: 1.4rem;
                transition: 0.3s ease-out;
                border-bottom: 2px solid transparent;

                &:hover {
                    border-color: $red;
                }
            }
        }
    }
}