@import "../../variables.scss";

.product {
    .grid {
        display: flex;

        .image {
            width: 40%;
            padding-right: 2rem;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 80%;
                height: auto;
            }
        }

        .content {
            width: 60%;
            padding-left: 4rem;
            box-sizing: border-box;
            border-left: 0.25rem solid $red;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .category {
                color: $red;
                font-weight: 600;
                margin: 0;
                margin-bottom: 0.5rem;
            }

            .name {
                font-size: 1.75rem;
                font-weight: 600;
                margin: 0;
                margin-bottom: 1.5rem;
            }

            .price {
                margin: 0;
                background-color: $red;
                color: $white;
                padding: 0.25rem 1rem;
                margin-bottom: 2rem;
            }

            .details {
                display: flex;
                width: 100%;
                border-bottom: 0.5px solid $lightgrey;
                column-gap: 2rem;
                padding-bottom: -1px;

                p {
                    margin: 0;
                    padding: 0 0.5rem 0.5rem 0.5rem;
                    cursor: pointer;

                    &.active {
                        border-bottom: 2px solid $red;
                        color: $red;
                    }
                }

                &Content {
                    font-weight: 300;
                    color: $lightgrey;
                    font-size: 0.9rem;
                }
            }

            .cart {
                display: flex;
                align-items: center;
                column-gap: 2rem;
                margin-top: 2rem;

                .quantity {
                    border: 2px solid $darkgrey;
                    padding: 0.5rem;
                    display: flex;
                    align-items: center;

                    input {
                        border: 0;
                        font-size: 1.1rem;
                        font-weight: 600;
                        color: $darkgrey;
                        width: 3rem;
                        outline: none;
                    }
                }

                .add {
                    background-color: $red;
                    outline: none;
                    border: 2px solid $red;
                    color: $white;
                    padding: 0 1.5rem;
                    height: 100%;
                    cursor: pointer;
                    font-weight: 600;

                    i {
                        margin-right: 0.5rem;
                    }

                    &:hover {
                        color: $darkgrey;
                        border: 2px solid $red;
                        background-color: $white;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .grid {
            flex-wrap: wrap;
            row-gap: 2rem;

            .image {
                width: 100%;
            }

            .content {
                width: 100%;
                border: 0;
                text-align: center;
                align-items: center;
                padding: 0;

                .details {
                    justify-content: center;
                }
            }
        }
    }
}