@import "../../variables.scss";

.cart {

    &.open {
        width: 50%;
        border-left: 0.25rem solid $red;
    }

    .items {
        display: flex;
        flex-wrap: wrap;
        row-gap: 1rem;
    }

    .options {
        display: flex;
        column-gap: 2rem;
        margin-top: 3rem;
        justify-content: center;
    }

}