
.landing {
  display: flex;
  min-height: 100vh;

  .content {
    width: 50%;

    .text {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      padding: 0rem 4rem 0 2rem;
      box-sizing: border-box;
      height: 80%;

      h1 {
        font-weight: 600;
        font-size: 2rem;
        line-height: 1.5;
        margin: 0;

        span {
          border-bottom: 0.25rem solid $red;
        }
      }

      p {
        margin: 0;
        margin-top: 1rem;

        span {
          color: $red;
        }

        &:last-child {
          margin: 0;
        }
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 1.5rem 0;

        li {
          margin-bottom: 0.75rem;
          display: flex;
          align-items: center;
          font-weight: 600;

          &:last-child {
            margin-bottom: 0;
          }

          img {
            width: 1rem;
            margin-right: 0.5rem;
          }
        }
      }
    }
  }

  .image {
    width: 50%;
    position: relative;

    img {
      object-fit: cover;
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    flex-wrap: wrap;

    .content {
      width: 100%;

      .text {
        height: unset;
        padding: 3rem 1rem;
        align-items: center;
        text-align: center;

        ul li {
          justify-content: center;
        }
      }
    }

    .image {
      width: 100%;
      min-height: 50vh;
    }
  }
}