@import "../../styles/variables.scss";

.details {
    padding: 2rem;

    >p {
        font-weight: 300;
    }

    .options,
    .social {
        list-style: none;
        padding: 0;
        margin-top: 2rem;

        li {
            margin: 0.75rem 0;
            display: flex;
            align-items: center;

            i {
                padding: 0.5rem;
                background-color: rgba($lightgrey, 0.25);
                color: $red;
                margin-right: 1rem;
                font-size: 1rem;
            }

            a {
                font-weight: 600;
            }
        }
    }

    .social {
        display: flex;
        column-gap: 1rem;

        li {
            i {
                margin-right: 0;
            }
        }
    }


}