.ViewItem {
  ul {
    margin-top: 24px !important;

    li {
      display: grid;
      grid-template-columns: 0.5fr 2fr;
      border-bottom: 0.25px solid rgba($lightgrey, 0.25);
      background-color: transparent !important;
      padding: 12px 16px !important;
      align-items: center;

      &:hover {
        background-color: transparent !important;
      }

      h5 {
        margin: 0;
        text-transform: capitalize;
      }

      p {
        margin: 0;
      }
    }
  }
}