.CartPage {
  .list {
    display: grid;
    gap: 16px;
  }

  .buttons {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 24px;
  }
}

.empty {
  display: flex;
  flex-direction: column;
  gap: 24px;
}