
.news {
    padding-top: 4rem;
    min-height: 60vh;

    .grid {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
    }
}