.Container {
  width: 100%;
  padding: 0 16px; // Default padding
  margin: 0 auto; // Center the container

  @media (min-width: $breakpoint-sm) {
    padding: 0 32px;
  }

  @media (min-width: $breakpoint-md) {
    max-width: 960px;
  }

  @media (min-width: $breakpoint-lg) {
    max-width: 1140px;
  }
}