.DashboardLayout {
  display: grid;
  grid-template-rows: $header-height auto;
  grid-template-columns: 225px auto;
  height: 100vh;

  header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    grid-area: 1/1/2/3;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(26, 26, 26, 0.25);
    -moz-box-shadow: 0px 5px 8px 0px rgba(26, 26, 26, 0.25);
    box-shadow: 0px 5px 8px 0px rgba(26, 26, 26, 0.25);

    img {
      object-fit: contain;
      width: 50px;
    }
  }

  .content {
    padding: 1rem;
    overflow-y: auto;

    form {
      display: flex;
      gap: 1rem;
      flex-direction: column;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      li {
        padding: 12px 16px;
        background-color: rgba($lightgrey, 0.1);
        transition: 0.3s ease-out;

        &:hover {
          background-color: rgba($lightgrey, 0.2);
        }
      }
    }
  }
}