@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7heuh2');
  src:  url('fonts/icomoon.eot?7heuh2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7heuh2') format('truetype'),
    url('fonts/icomoon.woff?7heuh2') format('woff'),
    url('fonts/icomoon.svg?7heuh2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e907";
}
.icon-plus:before {
  content: "\e901";
}
.icon-facebook1:before {
  content: "\e906";
}
.icon-instagram:before {
  content: "\e900";
}
.icon-brand:before {
  content: "\e900";
}
.icon-social:before {
  content: "\e900";
}
.icon-whatsapp:before {
  content: "\e902";
}
.icon-brand1:before {
  content: "\e902";
}
.icon-social1:before {
  content: "\e902";
}
.icon-arrow_drop_up1:before {
  content: "\e90e";
}
.icon-arrow_drop_down:before {
  content: "\e90c";
}
.icon-arrow_drop_up:before {
  content: "\e90d";
}
.icon-local_grocery_store:before {
  content: "\e90b";
}
.icon-arrow_down:before {
  content: "\e90a";
}
.icon-search:before {
  content: "\e909";
}
.icon-clear:before {
  content: "\e908";
}
.icon-location_pin:before {
  content: "\e903";
}
.icon-email:before {
  content: "\e904";
}
.icon-mail:before {
  content: "\e904";
}
.icon-markunread:before {
  content: "\e904";
}
.icon-local_post_office:before {
  content: "\e904";
}
.icon-phone:before {
  content: "\e905";
}
.icon-local_phone:before {
  content: "\e905";
}
